@use "../abstracts" as *;

.bg {
    background-color: $background   ;
}

.bg--dark {
    background-color: $background-dark;
}

.bg--light {
    background-color: $background-light;
}

.bg--primary {
    background-color: $primary !important;
}

.bg--secondary {
    background-color: $secondary !important;
}

.bg--last {
    box-shadow: 0 10rem 0 10rem $background-dark;
}


.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-muted {
    color: $text-muted-color;
}
