@use "../abstracts" as *;

.work-history {

    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;

    margin-left: auto;
    margin-right: auto;

    @media (max-width: $bp-medium) {
        max-width: 640px;
    }

    @media (min-width: $bp-medium) {
        grid-template-columns: 1fr 1fr;
        gap: 6.4rem;
    }

}
